:root {
    --very-Dark-Magenta: hsl(300, 43%, 22%);
    --soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Spartan', sans-serif;
}

.container {
    width: 100%;
    /* height: 98vh; */
    padding: 8rem 3rem 4rem 4rem;
    background-image: 
        url('../images/bg-pattern-top-mobile.svg'),
        url('../images/bg-pattern-bottom-mobile.svg');
    background-size: contain, contain;
    background-repeat: no-repeat;
    background-size: contain, contain;
    background-position: 
            top 3rem left 0,
            bottom -7rem left 0;
}

.headline {
    text-align: center;
    margin: 2rem;
}

.headline-title {
    font-size: 3rem;
    font-weight: bold;
    color: var(--very-Dark-Magenta);
    padding: 0.8rem;
}

.headline-description {
    font-size: 1.1rem;
    color: var(--Dark-Grayish-Magenta);
    font-weight: 500;
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    margin: 0.3rem;
}

.reviews {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.review-box {
    background-color: var(--Light-Grayish-Magenta);
    border-radius: 1rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    
}

.review-text {
    color: var(--very-Dark-Magenta);
    font-weight: 700;
    font-size: 1.2rem;
    padding-top: 0.5rem;
}

.testimonial-box {
    background-color: var(--very-Dark-Magenta);
    border-radius: 1rem;
    margin-bottom: 2rem;
    padding: 3rem 3.8rem;
}

.testimonial-header {
    display: flex;
    align-items: center;
}
.testimonial-header img {
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.person-details {
    margin-left: 2rem;
}

.person-details p:nth-child(1) {
    color: var(--White);
    font-weight: bold;
    padding-bottom: 0.5rem;
}

.person-details p:nth-child(2) {
    color: var(--soft-Pink);
}


.testimonial-quote p {
    color: var(--Light-Grayish-Magenta);
    font-size: 1.3rem;
    margin-top: 2rem;
    line-height: 1.8rem;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
  }